---
import BaseLayout from "../layouts/BaseLayout.astro";
import projects from "../data/projects.js";
import ProjectCard from "../components/ProjectCard.jsx";
---

<BaseLayout>
  <section class="mt-4">
    <h2 class="text-3xl font-bold mb-6">Main Projects</h2>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      {projects.map(p => (
        <ProjectCard project={p} />
      ))}
    </div>
  </section>
</BaseLayout>
